$blue: #0f68a4;
$light-blue:#2C7D92;

/* --------------- Source Sans Pro --------------
@font-face {
	@include fonts('Source Sans Pro', normal, 400, url(~/static/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf));
}
@font-face {
	@include fonts('Source Sans Pro', normal, 600, url(~/static/fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf));
}
@font-face {
	@include fonts('Source Sans Pro', normal, 700, url(~/static/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf));
} +/
/* ------------------- general ------------------ */
*{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
	margin: 0px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 17px;
	font-family: 'Source Sans Pro', Arial, helvetica, Sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
	-webkit-text-fill-color: #9C9DA1;
}
a, a:hover, a:visited{
  text-decoration: none;
}
a, button, button:focus, input{
  outline:none;
}
a, button, button:focus{
    cursor: pointer;
}
.container{
	margin: 0 auto;
	max-width: 840px;
	padding: 0px 20px;
}
