<template>
	<input placeholder="Nombre" v-model="value" required></input>  
</template>
  <script>
export default{
  data(){
	return{
	  value: "";
	}
  }
}
</script>
<style lang="scss" scoped>
	
</style>
