<template>
    <div class="tutor-bg">
        <div class="tutor-menu">
            <div class="tutor-info">
                <img class="tutor-photo" :src="require('~/static/images/'+ dataTutor.image)">
                <div class="tutor-data">
                    <p>{{ dataTutor.nombre }}</p>
                    <p>{{ dataTutor.especialidad }}</p>
                </div>
            </div>
            <div class="tutor-actions">
                <nuxt-link to="/tutor"><i class="fas fa-archive"></i> Mis asesorías</nuxt-link>
                <nuxt-link to="/tutor/registrar-asesoria"><i class="fas fa-edit"></i> Registrar Asesoría</nuxt-link>
                <nuxt-link to="/tutor/registrar-horario"><i class="far fa-calendar-alt"></i> Registrar horario</nuxt-link>
                <nuxt-link to="/"><i class="fas fa-window-close"></i> Cerrar Sesion</nuxt-link>
            </div>
        </div>
        <div class="tutor-schl">
            <div class="data-box">
                <nuxt/>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            dataTutor: {
                image: "paz.jpeg",
                nombre: "Freddy Paz",
                especialidad: "Ing. Informatica",
            },
        }
    },
}
</script>

<style lang="scss" scoped>
$square: 70px;
$menu-width: 20%;
.tutor-bg {
    display: flex;
}

.tutor-menu {
    width: 20%;
    height: 100vh;
    box-shadow: 8px 0px 15px -15px rgba(0, 0, 0, 0.75);
    position: fixed;
}

.tutor-info {
    display: flex;
    color: white;
    background: $blue;
    padding: 30px 20px;
    .tutor-photo {
        border-radius: 50%;
        width: $square;
        height: $square;
    }
    .tutor-data {
        padding: 0 20px;
        p {
            margin: 0;
            padding: 10px 0;
            font-size: 16px;
            &:first-child {
                border-bottom: 1px solid white;
            }
        }
    }
}

.tutor-actions {
    padding: 20px 0;
    a {
        display: block;
        color: #8a8a8a;
        padding: 10px 20px;
        &:hover {
            background: #e8e5e5;
            color: $light-blue;
            border-right: 2px solid #2C7D92;
        }
    }
}

.tutor-schl {
    width: 100% - $menu-width;
    margin-left: $menu-width;
}

.data-box {
    max-width: 80%;
    margin: 30px auto;
    color: #8a8a8a;
}
</style>
