<template>
    <div class="bg">
        <div class="login-box">
            <div class="login">
                <h3>AsesoriasPUCP</h3>
                <form @submit.prevent="login">
                    <div>
                        <!--<p v-if="formError">Datos invalidos</p>-->
                        <input :class="[{ error: formError }]" v-model="formUsername" type="text" placeholder="Nombre"></input>
                        <input :class="[{ error: formError }]" v-model="formPassword" type="password" placeholder="Contraseña"></input>
                    </div>
                    <button type="submit">Iniciar Sesión</button>
                </form>
                <p class="sign-up">No tienes cuenta? registrate
                    <nuxt-link class="here" to="/registrar">aquí</nuxt-link>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
    data() {
        return {
            formError: null,
            formUsername: '',
            formPassword: ''
        }
    },
    methods: {
        async login() {
            try {
                await this.$store.dispatch('login', {
                    username: this.formUsername,
                    password: this.formPassword
                })
                this.formUsername = ''
                this.formPassword = ''
                this.formError = null
                this.$router.push("tutor")
            } catch (e) {
                console.log(e.message)
                this.formError = e.message
            }
        },
    }
}
</script>

<style lang="scss" scoped>
/* scoped is for encapsulate css*/

.bg {
    background-image: url("https://images.pexels.com/photos/1181712/pexels-photo-1181712.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-box {
    margin: 0 auto;
    max-width: 450px;
    height: 100%;
    background-color: #7575758f;
}

.login {
    max-width: 400px;
    margin: 0px auto;
    padding: 40px;
    position: relative;
}

form>div {
    margin: 50px 0;
}

h3 {
    text-align: center;
    color: white;
    font-size: 30px;
}

input {
    width: 100%;
    margin: 10px 0;
    position: relative;
}

button {
    width: 100%;
    background: $blue;
    border: 0;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
}

.sign-up {
    font-size: 13px;
    color: white;
    text-align: center;
    margin-top: 10px;
    .here {
        color: white;
        font-weight: 600;
    }
}

.error {
    border-color: red;
}
</style>

